# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# OS-specific
.DS_Store

# Project specific archive
project_archive/

# Non-essential files within pagila/
pagila/pagila-data-apt-jsonb.backup/
pagila/pagila-data-yum-jsonb.backup/
pagila/restore-pagila-data-jsonb.sh/
airflow_setup/dags/test.py



# Airflow logs (optional, if you don't want to commit the log directory structure)
# airflow_setup/logs/ 